In [1]:
import numpy as np
import pandas as pd
import os
from subprocess import check_output
path='data/'
print(check_output(["ls", path]).decode("utf8"))

DRC_Raw_Data 2012-13.xlsx
DRC_Raw_Data 2013-14.xlsx
DRC_Raw_Data 2014-15.xlsx
DRC_Raw_Data 2015-16_new.xlsx
SEC_SRC_RAW_DATA_2012-13.xlsx
SEC_SRC_RAW_DATA_2013-14.xlsx
SEC_SRC_RAW_DATA_2014-15.xlsx
SEC_SRC_RAW_DATA_2015-16.xlsx
SRC_Rawdata_2012-13.xlsx
SRC_Rawdata_2013-14.xlsx
SRC_Rawdata_2014-15.xlsx
SRC_Rawdata_2015-16_Elementary.xlsx

In [3]:
file1=pd.read_excel(path+'DRC_Raw_Data 2012-13.xlsx')

In [5]:
from glob import glob

In [8]:
g=glob(path+'*')

In [395]:
g=sorted(glob(path+'DRC*'))

In [396]:
g

['data/DRC_Raw_Data 2012-13.xlsx',
 'data/DRC_Raw_Data 2013-14.xlsx',
 'data/DRC_Raw_Data 2014-15.xlsx',
 'data/DRC_Raw_Data 2015-16_new.xlsx']

In [499]:
df_state4p3=xl.parse(2,skiprows=3)
df_state4p3.head()

,Unnamed: 0,DISTCD,State Name,DISTNAME,SCH1,SCH2,SCH3,SCH4,SCH5,SCH6,...,C9_B,C1_G,C2_G,C3_G,C4_G,C5_G,C6_G,C7_G,C8_G,C9_G
0,2014-15,101,JAMMU & KASHMIR,KUPWARA,1099,811,3,14,2,84,...,6376,10368,8665,8543,7807,7229,6324,6111,6480,5745
1,2014-15,102,JAMMU & KASHMIR,BARAMULA,1205,829,8,11,5,170,...,8029,18126,11291,10873,10104,10015,10163,9595,10085,7430
2,2014-15,103,JAMMU & KASHMIR,SRINAGAR,253,405,46,2,2,257,...,6433,8422,7984,8032,7957,7717,7315,7274,7435,6576
3,2014-15,104,JAMMU & KASHMIR,BADGAM,750,535,9,10,1,101,...,5070,7077,6186,6051,5758,5439,5051,5103,5208,5098
4,2014-15,105,JAMMU & KASHMIR,PULWAMA,544,347,4,13,2,88,...,3753,4438,3849,3891,3750,3567,3476,3457,3539,3479

In [494]:
xl=pd.ExcelFile(g[3])
df_state4p1=xl.parse(0,skiprows=2)
df_state4p1.head()

,Unnamed: 0,STATCD,DISTCD,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,...,TCH_TRNRF6,TCH_TRNRF7,PGRMTCH,PGRFTCH,GRMTCH,GRFTCH,PGCMTCH,PGCFTCH,PCMTCH,PCFTCH
0,2015-16,1,101,JAMMU & KASHMIR,KUPWARA,1,13,391,104,875564.0,...,1,0,2385,785,4777,1638,230,119,676,271
1,2015-16,1,102,JAMMU & KASHMIR,BARAMULA,1,18,678,144,1015503.0,...,11,12,3478,2086,4983,2614,388,204,629,250
2,2015-16,1,103,JAMMU & KASHMIR,SRINAGAR,1,8,94,65,1269751.0,...,16,0,481,1623,772,2013,61,179,108,197
3,2015-16,1,104,JAMMU & KASHMIR,BADGAM,1,13,523,104,735753.0,...,0,0,2309,1131,3427,1514,281,103,440,145
4,2015-16,1,105,JAMMU & KASHMIR,PULWAMA,1,8,359,64,570060.0,...,1,10,1660,714,2357,956,126,85,217,108

In [337]:
df_state4.head()

,Unnamed: 0,STATCD,STATNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,P_URB_POP,POPULATION_0_6,...,TCH_TRNRM5,TCH_TRNRM6,TCH_TRNRM7,TCH_TRNRF1,TCH_TRNRF2,TCH_TRNRF3,TCH_TRNRF4,TCH_TRNRF5,TCH_TRNRF6,TCH_TRNRF7
0,2015-16,1,JAMMU & KASHMIR,22,201,7263,1628,12549,20.05,16.01,...,8,328,158,347,416,1,30,2,108,44
1,2015-16,2,HIMACHAL PRADESH,12,124,10120,2243,6857,8.69,11.14,...,995,6,459,3860,10,9,214,444,11,205
2,2015-16,3,PUNJAB,22,146,13197,1780,27704,29.82,10.62,...,2215,13,3043,19460,85,205,1084,3558,100,3987
3,2015-16,4,CHANDIGARH,1,20,84,20,1055,97.25,11.18,...,0,109,0,34,59,192,0,0,307,0
4,2015-16,5,UTTARAKHAND,13,95,11989,995,10117,21.54,13.14,...,1088,0,589,7625,29,32,1049,387,10,274

In [85]:
df_state4p2p2 = pd.read_excel(g[0], header=[0,1],sheetname='PAGE2 PART2')

ValueError: Length of new names must be 1, got 2

In [82]:
df_state4p2p1.head()

statcd           statname  ac_year Schools with Internet             \
statcd           statname  ac_year            internet_1 internet_2
1       Jammu And Kashmir  2014-15                   262         21
2        Himachal Pradesh  2014-15                   438        876
3                  Punjab  2014-15                  2020       1703
4              Chandigarh  2014-15                    83          5
5             Uttarakhand  2014-15                   361        642

statcd                                                                      \
statcd internet_3 internet_4 internet_5 internet_6 internet_7 internet_all
1             403          6          0         65          0          757
2             342        127          0          6          3         1792
3            1596       1832          3         37         72         7263
4              65          0          0          0          0          153
5              76        144         21         23          3         1270

statcd   ...    Total number of Female Teachers          Girls Enrolment  \
statcd   ...                             tchf_7 tchf_all          enrg_1
1        ...                                  6    12387           51667
2        ...                                 36    12139           32472
3        ...                               1041    50774          235658
4        ...                                  0     2772           25754
5        ...                                 75     8664           82050

statcd
statcd  enrg_2 enrg_3 enrg_4 enrg_5  enrg_6 enrg_7 enrg_all
1        12616  78461  17976   1631  110714      0   273065
2       166070   8794  18277     11     532    459   226615
3       292036  54910  82437    126   13237  13334   691738
4         1528   5929      0      0       0      0    33211
5       206037   5408  28729   7045   12921   1175   343365

[5 rows x 90 columns]

In [50]:
enum_state=df_dict['Unnamed: 1_level_0']['statname']

0                         INDIA
1             JAMMU AND KASHMIR
2              HIMACHAL PRADESH
3                        PUNJAB
4                    CHANDIGARH
5                   UTTARAKHAND
6                       HARYANA
7                         DELHI
8                     RAJASTHAN
9                 UTTAR PRADESH
10                        BIHAR
11                       SIKKIM
12            ARUNACHAL PRADESH
13                     NAGALAND
14                      MANIPUR
15                      MIZORAM
16                      TRIPURA
17                    MEGHALAYA
18                        ASSAM
19                  WEST BENGAL
20                    JHARKHAND
21                       ODISHA
22                 CHHATTISGARH
23               MADHYA PRADESH
24                      GUJARAT
25                  DAMAN & DIU
26         DADRA & NAGAR HAVELI
27                  MAHARASHTRA
28               ANDHRA PRADESH
29                    KARNATAKA
30                          GOA
31                  LAKSHADWEEP
32                       KERALA
33                   TAMIL NADU
34                   PUDUCHERRY
35    ANDAMAN & NICOBAR ISLANDS
Name: statname, dtype: object

In [27]:
xl=pd.ExcelFile(g[1])

In [28]:
df1=xl.parse(0)

In [30]:
df1.head(10)

,,,Area,Total Population,Urban Population,Growth Rate,Sex Ratio,% SC Population,% St Population,literacy rate,literacy rate- Male,literacy rate- Female
statcd,ac_year,statname,area_sqkm,tot_population,urban_population,grwoth_rate,sexratio,sc_population,st_population,literacy_rate,male_literacy_rate,female_literacy_rate
00,2012-13,INDIA,3287240,1.21019e+06,31.2,17.64,940,16.6,8.6,74.04,82.14,65.46
01,2012-13,JAMMU AND KASHMIR,222236,12548.9,20.05,23.71,883,7.4,11.9,68.74,78.26,58.01
02,2012-13,HIMACHAL PRADESH,55673,6856.51,8.69,12.81,974,25.2,5.7,83.78,90.83,76.6
03,2012-13,PUNJAB,50362,27704.2,29.82,13.73,893,31.9,0,76.68,81.48,71.34
04,2012-13,CHANDIGARH,114,1054.69,76.66,17.1,818,18.9,0,86.43,90.54,81.38
05,2012-13,UTTARAKHAND,53483,10116.8,21.54,19.17,963,18.8,2.9,79.63,88.33,70.7
06,2012-13,HARYANA,44212,25353.1,24.12,19.9,877,20.2,0,76.64,85.38,66.77
07,2012-13,DELHI,1483,16753.2,77.03,20.96,866,16.8,0,86.34,91.03,80.93
08,2012-13,RAJASTHAN,342239,68621,19.26,21.44,926,17.8,13.5,67.06,80.51,52.66

In [505]:
df_state4p2[:680].shape

(680, 384)

In [504]:
df_state4p2.tail()

,Unnamed: 0,DISTCD,STATNAME,DISTNAME,C1_B,C2_B,C3_B,C4_B,C5_B,C6_B,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
1358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [506]:
temp=np.hstack((df_state4p1.values,df_state4p2[:680].values,df_state4p3.values))

In [508]:
temp.shape
column_n=[]

In [511]:
n=len(df_state4p3.columns)
for i in range(0,n):
    column_n.append(df_state4p3.columns[i])
column_n

['Unnamed: 0',
 u'STATCD',
 u'DISTCD',
 u'STATNAME',
 u'DISTNAME',
 u'DISTRICTS',
 u'BLOCKS',
 u'VILLAGES',
 u'CLUSTERS',
 u'TOTPOPULAT',
 u'P_URB_POP',
 u'POPULATION_0_6',
 u'GROWTHRATE',
 u'SEXRATIO',
 u'P_SC_POP',
 u'P_ST_POP',
 u'OVERALL_LI',
 u'FEMALE_LIT',
 u'MALE_LIT',
 u'AREA_SQKM',
 u'TOT_6_10_15',
 u'TOT_11_13_15',
 u'SCH1',
 u'SCH2',
 u'SCH3',
 u'SCH4',
 u'SCH5',
 u'SCH6',
 u'SCH7',
 u'SCH9',
 u'SCHTOT',
 u'SCH1G',
 u'SCH2G',
 u'SCH3G',
 u'SCH4G',
 u'SCH5G',
 u'SCH6G',
 u'SCH7G',
 u'SCH9G',
 u'SCHTOTG',
 u'SCH1P',
 u'SCH2P',
 u'SCH3P',
 u'SCH4P',
 u'SCH5P',
 u'SCH6P',
 u'SCH7P',
 u'SCH9P',
 u'SCHTOTP',
 u'SCH1M',
 u'SCH2M',
 u'SCH3M',
 u'SCH4M',
 u'SCH5M',
 u'SCH6M',
 u'SCH7M',
 u'SCH9M',
 u'SCHTOTM',
 u'SCH1GR',
 u'SCH2GR',
 u'SCH3GR',
 u'SCH4GR',
 u'SCH5GR',
 u'SCH6GR',
 u'SCH7GR',
 u'SCH9GR',
 u'SCHTOTGR',
 u'SCH1GA',
 u'SCH2GA',
 u'SCH3GA',
 u'SCH4GA',
 u'SCH5GA',
 u'SCH6GA',
 u'SCH7GA',
 u'SCH9GA',
 u'SCHTOTGA',
 u'SCH1PR',
 u'SCH2PR',
 u'SCH3PR',
 u'SCH4PR',
 u'SCH5PR',
 u'SCH6PR',
 u'SCH7PR',
 u'SCH9PR',
 u'SCHTOTPR',
 u'SCHBOY1',
 u'SCHBOY2',
 u'SCHBOY3',
 u'SCHBOY4',
 u'SCHBOY5',
 u'SCHBOY6',
 u'SCHBOY7',
 u'SCHBOY9',
 u'SCHBOYTOT',
 u'SCHGIR1',
 u'SCHGIR2',
 u'SCHGIR3',
 u'SCHGIR4',
 u'SCHGIR5',
 u'SCHGIR6',
 u'SCHGIR7',
 u'SCHGIR9',
 u'SCHGIRTOT',
 u'ENR1',
 u'ENR2',
 u'ENR3',
 u'ENR4',
 u'ENR5',
 u'ENR6',
 u'ENR7',
 u'ENR9',
 u'ENRTOT',
 u'ENR1G',
 u'ENR2G',
 u'ENR3G',
 u'ENR4G',
 u'ENR5G',
 u'ENR6G',
 u'ENR7G',
 u'ENR9G',
 u'ENRTOTG',
 u'ENR1P',
 u'ENR2P',
 u'ENR3P',
 u'ENR4P',
 u'ENR5P',
 u'ENR6P',
 u'ENR7P',
 u'ENR9P',
 u'ENRTOTP',
 u'ENR1M',
 u'ENR2M',
 u'ENR3M',
 u'ENR4M',
 u'ENR5M',
 u'ENR6M',
 u'ENR7M',
 u'ENR9M',
 u'ENRTOTM',
 u'ENR1GR',
 u'ENR2GR',
 u'ENR3GR',
 u'ENR4GR',
 u'ENR5GR',
 u'ENR6GR',
 u'ENR7GR',
 u'ENR9GR',
 u'ENRTOTGR',
 u'ENR1PR',
 u'ENR2PR',
 u'ENR3PR',
 u'ENR4PR',
 u'ENR5PR',
 u'ENR6PR',
 u'ENR7PR',
 u'ENR9PR',
 u'ENRTOTPR',
 u'TCH1G',
 u'TCH2G',
 u'TCH3G',
 u'TCH4G',
 u'TCH5G',
 u'TCH6G',
 u'TCH7G',
 u'TCH9G',
 u'TCHTOTG',
 u'TCH1P',
 u'TCH2P',
 u'TCH3P',
 u'TCH4P',
 u'TCH5P',
 u'TCH6P',
 u'TCH7P',
 u'TCH9P',
 u'TCHTOTP',
 u'TCH1M',
 u'TCH2M',
 u'TCH3M',
 u'TCH4M',
 u'TCH5M',
 u'TCH6M',
 u'TCH7M',
 u'TCH9M',
 u'TCHTOTM',
 u'SCLS1',
 u'SCLS2',
 u'SCLS3',
 u'SCLS4',
 u'SCLS5',
 u'SCLS6',
 u'SCLS7',
 u'SCLSTOT',
 u'STCH1',
 u'STCH2',
 u'STCH3',
 u'STCH4',
 u'STCH5',
 u'STCH6',
 u'STCH7',
 u'STCHTOT',
 u'ROAD1',
 u'ROAD2',
 u'ROAD3',
 u'ROAD4',
 u'ROAD5',
 u'ROAD6',
 u'ROAD7',
 u'ROADTOT',
 u'SPLAY1',
 u'SPLAY2',
 u'SPLAY3',
 u'SPLAY4',
 u'SPLAY5',
 u'SPLAY6',
 u'SPLAY7',
 u'SPLAYTOT',
 u'SBNDR1',
 u'SBNDR2',
 u'SBNDR3',
 u'SBNDR4',
 u'SBNDR5',
 u'SBNDR6',
 u'SBNDR7',
 u'SBNDRTOT',
 u'SGTOIL1',
 u'SGTOIL2',
 u'SGTOIL3',
 u'SGTOIL4',
 u'SGTOIL5',
 u'SGTOIL6',
 u'SGTOIL7',
 u'SGTOILTOT',
 u'SBTOIL1',
 u'SBTOIL2',
 u'SBTOIL3',
 u'SBTOIL4',
 u'SBTOIL5',
 u'SBTOIL6',
 u'SBTOIL7',
 u'SBTOILTOT',
 u'SWAT1',
 u'SWAT2',
 u'SWAT3',
 u'SWAT4',
 u'SWAT5',
 u'SWAT6',
 u'SWAT7',
 u'SWATTOT',
 u'SELE1',
 u'SELE2',
 u'SELE3',
 u'SELE4',
 u'SELE5',
 u'SELE6',
 u'SELE7',
 u'SELETOT',
 u'SCOMP1',
 u'SCOMP2',
 u'SCOMP3',
 u'SCOMP4',
 u'SCOMP5',
 u'SCOMP6',
 u'SCOMP7',
 u'SCOMPTOT',
 u'SRAM1',
 u'SRAM2',
 u'SRAM3',
 u'SRAM4',
 u'SRAM5',
 u'SRAM6',
 u'SRAM7',
 u'SRAMTOT',
 u'SRAMN1',
 u'SRAMN2',
 u'SRAMN3',
 u'SRAMN4',
 u'SRAMN5',
 u'SRAMN6',
 u'SRAMN7',
 u'SRAMNTOT',
 u'ESTD1',
 u'ESTD2',
 u'ESTD3',
 u'ESTD4',
 u'ESTD5',
 u'ESTD6',
 u'ESTD7',
 u'ESTDTOT',
 u'MDM1',
 u'MDM2',
 u'MDM3',
 u'MDM4',
 u'MDM5',
 u'MDM6',
 u'MDM7',
 u'MDMTOT',
 u'KIT1',
 u'KIT2',
 u'KIT3',
 u'KIT4',
 u'KIT5',
 u'KIT6',
 u'KIT7',
 u'KITTOT',
 u'KITS1',
 u'KITS2',
 u'KITS3',
 u'KITS4',
 u'KITS5',
 u'KITS6',
 u'KITS7',
 u'KITSTOT',
 u'ENR501',
 u'ENR502',
 u'ENR503',
 u'ENR504',
 u'ENR505',
 u'ENR506',
 u'ENR507',
 u'ENR509',
 u'ENR50TOT',
 u'SMC1',
 u'SMC2',
 u'SMC3',
 u'SMC4',
 u'SMC5',
 u'SMC6',
 u'SMC7',
 u'SMCTOT',
 u'CLS1',
 u'CLS2',
 u'CLS3',
 u'CLS4',
 u'CLS5',
 u'CLS6',
 u'CLS7',
 u'CLSTOT',
 u'TCH1',
 u'TCH2',
 u'TCH3',
 u'TCH4',
 u'TCH5',
 u'TCH6',
 u'TCH7',
 u'TCHTOT',
 u'TCHF1',
 u'TCHF2',
 u'TCHF3',
 u'TCHF4',
 u'TCHF5',
 u'TCHF6',
 u'TCHF7',
 u'TCHFTOT',
 u'TCHM1',
 u'TCHM2',
 u'TCHM3',
 u'TCHM4',
 u'TCHM5',
 u'TCHM6',
 u'TCHM7',
 u'TCHM9',
 u'ENRG1',
 u'ENRG2',
 u'ENRG3',
 u'ENRG4',
 u'ENRG5',
 u'ENRG6',
 u'ENRG7',
 u'ENRGTOT',
 u'PREP',
 u'PRESTD',
 u'PPFTCH',
 u'PPMTCH',
 u'PMTCH',
 u'PFTCH',
 u'TCHSCM1',
 u'TCHSCM2',
 u'TCHSCM3',
 u'TCHSCM4',
 u'TCHSCM5',
 u'TCHSCM6',
 u'TCHSCM7',
 u'TCHSCF1',
 u'TCHSCF2',
 u'TCHSCF3',
 u'TCHSCF4',
 u'TCHSCF5',
 u'TCHSCF6',
 u'TCHSCF7',
 u'TCHSTM1',
 u'TCHSTM2',
 u'TCHSTM3',
 u'TCHSTM4',
 u'TCHSTM5',
 u'TCHSTM6',
 u'TCHSTM7',
 u'TCHSTF1',
 u'TCHSTF2',
 u'TCHSTF3',
 u'TCHSTF4',
 u'TCHSTF5',
 u'TCHSTF6',
 u'TCHSTF7',
 u'TCHOBCM1',
 u'TCHOBCM2',
 u'TCHOBCM3',
 u'TCHOBCM4',
 u'TCHOBCM5',
 u'TCHOBCM6',
 u'TCHOBCM7',
 u'TCHOBCF1',
 u'TCHOBCF2',
 u'TCHOBCF3',
 u'TCHOBCF4',
 u'TCHOBCF5',
 u'TCHOBCF6',
 u'TCHOBCF7',
 u'TCH_TRNRM1',
 u'TCH_TRNRM2',
 u'TCH_TRNRM3',
 u'TCH_TRNRM4',
 u'TCH_TRNRM5',
 u'TCH_TRNRM6',
 u'TCH_TRNRM7',
 u'TCH_TRNRF1',
 u'TCH_TRNRF2',
 u'TCH_TRNRF3',
 u'TCH_TRNRF4',
 u'TCH_TRNRF5',
 u'TCH_TRNRF6',
 u'TCH_TRNRF7',
 u'PGRMTCH',
 u'PGRFTCH',
 u'GRMTCH',
 u'GRFTCH',
 u'PGCMTCH',
 u'PGCFTCH',
 u'PCMTCH',
 u'PCFTCH',
 'Unnamed: 0',
 u'DISTCD',
 u'STATNAME',
 u'DISTNAME',
 u'C1_B',
 u'C2_B',
 u'C3_B',
 u'C4_B',
 u'C5_B',
 u'C6_B',
 u'C7_B',
 u'C8_B',
 u'C9_B',
 u'C1_G',
 u'C2_G',
 u'C3_G',
 u'C4_G',
 u'C5_G',
 u'C6_G',
 u'C7_G',
 u'C8_G',
 u'C9_G',
 u'C15A',
 u'C68A',
 u'C1_BD',
 u'C2_BD',
 u'C3_BD',
 u'C4_BD',
 u'C5_BD',
 u'C6_BD',
 u'C7_BD',
 u'C8_BD',
 u'C1_GD',
 u'C2_GD',
 u'C3_GD',
 u'C4_GD',
 u'C5_GD',
 u'C6_GD',
 u'C7_GD',
 u'C8_GD',
 u'C1_BR',
 u'C2_BR',
 u'C3_BR',
 u'C4_BR',
 u'C5_BR',
 u'C6_BR',
 u'C7_BR',
 u'C8_BR',
 u'C9_BR',
 u'C1_GR',
 u'C2_GR',
 u'C3_GR',
 u'C4_GR',
 u'C5_GR',
 u'C6_GR',
 u'C7_GR',
 u'C8_GR',
 u'C9_GR',
 u'SCPTOT',
 u'SCPTOT_G',
 u'SCUTOT',
 u'SCUTOT_G',
 u'STPTOT',
 u'STPTOT_G',
 u'STUTOT',
 u'STUTOT_G',
 u'OBPTOT',
 u'OBUTOT',
 u'OBPTOT_G',
 u'OBUTOT_G',
 u'MUPTOT',
 u'MUUTOT',
 u'MUPTOT_G',
 u'MUUTOT_G',
 u'BLC1',
 u'LVC1',
 u'HEC1',
 u'SPC1',
 u'LOC1',
 u'MEC1',
 u'LEC1',
 u'CPC1',
 u'AUC1',
 u'MUC1',
 u'BLC2',
 u'LVC2',
 u'HEC2',
 u'SPC2',
 u'LOC2',
 u'MEC2',
 u'LEC2',
 u'CPC2',
 u'AUC2',
 u'MUC2',
 u'BLC3',
 u'LVC3',
 u'HEC3',
 u'SPC3',
 u'LOC3',
 u'MEC3',
 u'LEC3',
 u'CPC3',
 u'AUC3',
 u'MUC3',
 u'BLC4',
 u'LVC4',
 u'HEC4',
 u'SPC4',
 u'LOC4',
 u'MEC4',
 u'LEC4',
 u'CPC4',
 u'AUC4',
 u'MUC4',
 u'BLC5',
 u'LVC5',
 u'HEC5',
 u'SPC5',
 u'LOC5',
 u'MEC5',
 u'LEC5',
 u'CPC5',
 u'AUC5',
 u'MUC5',
 u'BLC6',
 u'LVC6',
 u'HEC6',
 u'SPC6',
 u'LOC6',
 u'MEC6',
 u'LEC6',
 u'CPC6',
 u'AUC6',
 u'MUC6',
 u'BLC7',
 u'LVC7',
 u'HEC7',
 u'SPC7',
 u'LOC7',
 u'MEC7',
 u'LEC7',
 u'CPC7',
 u'AUC7',
 u'MUC7',
 u'BLC8',
 u'LVC8',
 u'HEC8',
 u'SPC8',
 u'LOC8',
 u'MEC8',
 u'LEC8',
 u'CPC8',
 u'AUC8',
 u'MUC8',
 u'TOTCLGD1G',
 u'TOTCLGD2G',
 u'TOTCLGD3G',
 u'TOTCLGD4G',
 u'TOTCLGD5G',
 u'TOTCLGD6G',
 u'TOTCLGD7G',
 u'TOTCLMI1G',
 u'TOTCLMI2G',
 u'TOTCLMI3G',
 u'TOTCLMI4G',
 u'TOTCLMI5G',
 u'TOTCLMI6G',
 u'TOTCLMI7G',
 u'TOTCLMJ1G',
 u'TOTCLMJ2G',
 u'TOTCLMJ3G',
 u'TOTCLMJ4G',
 u'TOTCLMJ5G',
 u'TOTCLMJ6G',
 u'TOTCLMJ7G',
 u'TOTCLOT1G',
 u'TOTCLOT2G',
 u'TOTCLOT3G',
 u'TOTCLOT4G',
 u'TOTCLOT5G',
 u'TOTCLOT6G',
 u'TOTCLOT7G',
 u'TCHBS1',
 u'TCHBS2',
 u'TCHBS3',
 u'TCHBS4',
 u'TCHBS5',
 u'TCHBS6',
 u'TCHBS7',
 u'TCHSEC1',
 u'TCHSEC2',
 u'TCHSEC3',
 u'TCHSEC4',
 u'TCHSEC5',
 u'TCHSEC6',
 u'TCHSEC7',
 u'TCHHS1',
 u'TCHHS2',
 u'TCHHS3',
 u'TCHHS4',
 u'TCHHS5',
 u'TCHHS6',
 u'TCHHS7',
 u'TCHGD1',
 u'TCHGD2',
 u'TCHGD3',
 u'TCHGD4',
 u'TCHGD5',
 u'TCHGD6',
 u'TCHGD7',
 u'TCHPG1',
 u'TCHPG2',
 u'TCHPG3',
 u'TCHPG4',
 u'TCHPG5',
 u'TCHPG6',
 u'TCHPG7',
 u'TCHMD1',
 u'TCHMD2',
 u'TCHMD3',
 u'TCHMD4',
 u'TCHMD5',
 u'TCHMD6',
 u'TCHMD7',
 u'TCHPD1',
 u'TCHPD2',
 u'TCHPD3',
 u'TCHPD4',
 u'TCHPD5',
 u'TCHPD6',
 u'TCHPD7',
 u'TCHNR1',
 u'TCHNR2',
 u'TCHNR3',
 u'TCHNR4',
 u'TCHNR5',
 u'TCHNR6',
 u'TCHNR7',
 u'TCHCON1',
 u'TCHCON2',
 u'TCHCON3',
 u'TCHCON4',
 u'TCHCON5',
 u'TCHCON67',
 u'TCHCON8',
 u'TCHCON9',
 u'TCHM1',
 u'TCHM2',
 u'TCHM3',
 u'TCHM4',
 u'TCHM5',
 u'TCHM6',
 u'TCHM7',
 u'TCHF1',
 u'TCHF2',
 u'TCHF3',
 u'TCHF4',
 u'TCHF5',
 u'TCHF6',
 u'TCHF7',
 u'TCHN1',
 u'TCHN2',
 u'TCHN3',
 u'TCHN4',
 u'TCHN5',
 u'TCHN6',
 u'TCHN7',
 u'TCHCM1',
 u'TCHCM2',
 u'TCHCM3',
 u'TCHCM4',
 u'TCHCM5',
 u'TCHCM6',
 u'TCHCM7',
 u'TCHCF1',
 u'TCHCF2',
 u'TCHCF3',
 u'TCHCF4',
 u'TCHCF5',
 u'TCHCF6',
 u'TCHCF7',
 u'TCHCN1',
 u'TCHCN2',
 u'TCHCN3',
 u'TCHCN4',
 u'TCHCN5',
 u'TCHCN6',
 u'TCHCN7',
 u'TLM_R1',
 u'TLM_R2',
 u'TLM_R3',
 u'TLM_R4',
 u'TLM_R5',
 u'TLM_R6',
 u'TLM_R7',
 u'TLME',
 u'TLMR',
 u'CONTIE',
 u'CONTIR',
 u'CONTI_R1',
 u'CONTI_R2',
 u'CONTI_R3',
 u'CONTI_R4',
 u'CONTI_R5',
 u'CONTI_R6',
 u'CONTI_R7',
 u'PIDAY30',
 u'PIDAYSCH',
 u'UIDAY35',
 u'UIDAYSCH',
 u'M1',
 u'M2',
 u'M3',
 u'M4',
 u'M5',
 u'ENRE11',
 u'ENRE12',
 u'ENRE13',
 u'ENRE14',
 u'ENRE15',
 u'ENRE16',
 u'ENRE17',
 u'ENRE21',
 u'ENRE22',
 u'ENRE23',
 u'ENRE24',
 u'ENRE25',
 u'ENRE26',
 u'ENRE27',
 u'ENRE31',
 u'ENRE32',
 u'ENRE33',
 u'ENRE34',
 u'ENRE35',
 u'ENRE36',
 u'ENRE37',
 u'ENRE41',
 u'ENRE42',
 u'ENRE43',
 u'ENRE44',
 u'ENRE45',
 u'ENRE46',
 u'ENRE47',
 u'ENRE51',
 u'ENRE52',
 u'ENRE53',
 u'ENRE54',
 u'ENRE55',
 u'ENRE56',
 u'ENRE57',
 u'TCH_5556M',
 u'TCH_5556F',
 u'TCH_5556T',
 u'TCH_5758M',
 u'TCH_5758F',
 u'TCH_5758T',
 u'TCH_5960M',
 u'TCH_5960F',
 u'TCH_5960T',
 u'PPTR30',
 u'UPTR35',
 u'PSCR30',
 u'USCR35',
 u'NOTCH_ASS',
 u'TCHINV',
 u'PTXT_ALL',
 u'PTXT_SC',
 u'PTXT_ST',
 u'PUNI_ALL',
 u'PUNI_SC',
 u'PUNI_ST',
 u'UTXT_ALL',
 u'UTXT_SC',
 u'UTXT_ST',
 u'UUNI_ALL',
 u'UUNI_SC',
 u'UUNI_ST',
 u'TOTCLS1G',
 u'TOTCLS2G',
 u'TOTCLS3G',
 u'TOTCLS4G',
 u'TOTCLS5G',
 u'TOTCLS6G',
 u'TOTCLS7G',
 'Unnamed: 0',
 u'DISTCD',
 u'State Name',
 u'DISTNAME',
 u'SCH1',
 u'SCH2',
 u'SCH3',
 u'SCH4',
 u'SCH5',
 u'SCH6',
 u'SCH7',
 u'SCH9',
 u'SCHTOT',
 u'SCH1GA',
 u'SCH2GA',
 u'SCH3GA',
 u'SCH4GA',
 u'SCH5GA',
 u'SCH6GA',
 u'SCH7GA',
 u'SCH9GA',
 u'SCHTOTGA',
 u'SCHBOY1',
 u'SCHBOY2',
 u'SCHBOY3',
 u'SCHBOY4',
 u'SCHBOY5',
 u'SCHBOY6',
 u'SCHBOY7',
 u'SCHBOY9',
 u'SCHBOYTOT',
 u'SCHGIR1',
 u'SCHGIR2',
 u'SCHGIR3',
 u'SCHGIR4',
 u'SCHGIR5',
 u'SCHGIR6',
 u'SCHGIR7',
 u'SCHGIR9',
 u'SCHGIRTOT',
 u'ENR1',
 u'ENR2',
 u'ENR3',
 u'ENR4',
 u'ENR5',
 u'ENR6',
 u'ENR7',
 u'ENR9',
 u'ENRTOT',
 u'TCH1',
 u'TCH2',
 u'TCH3',
 u'TCH4',
 u'TCH5',
 u'TCH6',
 u'TCH7',
 u'TCH9',
 u'TCHTOT',
 u'SCLS1',
 u'SCLS2',
 u'SCLS3',
 u'SCLS4',
 u'SCLS5',
 u'SCLS6',
 u'SCLS7',
 u'SCLSTOT',
 u'STCH1',
 u'STCH2',
 u'STCH3',
 u'STCH4',
 u'STCH5',
 u'STCH6',
 u'STCH7',
 u'STCHTOT',
 u'ROAD1',
 u'ROAD2',
 u'ROAD3',
 u'ROAD4',
 u'ROAD5',
 u'ROAD6',
 u'ROAD7',
 u'ROADTOT',
 u'SPLAY1',
 u'SPLAY2',
 u'SPLAY3',
 u'SPLAY4',
 u'SPLAY5',
 u'SPLAY6',
 u'SPLAY7',
 u'SPLAYTOT',
 u'SBNDR1',
 u'SBNDR2',
 u'SBNDR3',
 u'SBNDR4',
 u'SBNDR5',
 u'SBNDR6',
 u'SBNDR7',
 u'SBNDRTOT',
 u'SGTOIL1',
 u'SGTOIL2',
 u'SGTOIL3',
 u'SGTOIL4',
 u'SGTOIL5',
 u'SGTOIL6',
 u'SGTOIL7',
 u'SGTOILTOT',
 u'SBTOIL1',
 u'SBTOIL2',
 u'SBTOIL3',
 u'SBTOIL4',
 u'SBTOIL5',
 u'SBTOIL6',
 u'SBTOIL7',
 u'SBTOILTOT',
 u'SWAT1',
 u'SWAT2',
 u'SWAT3',
 u'SWAT4',
 u'SWAT5',
 u'SWAT6',
 u'SWAT7',
 u'SWATTOT',
 u'SELE1',
 u'SELE2',
 u'SELE3',
 u'SELE4',
 u'SELE5',
 u'SELE6',
 u'SELE7',
 u'SELETOT',
 u'SCOMP1',
 u'SCOMP2',
 u'SCOMP3',
 u'SCOMP4',
 u'SCOMP5',
 u'SCOMP6',
 u'SCOMP7',
 u'SCOMPTOT',
 u'SRAM1',
 u'SRAM2',
 u'SRAM3',
 u'SRAM4',
 u'SRAM5',
 u'SRAM6',
 u'SRAM7',
 u'SRAM9',
 u'SRAMTOT',
 u'SRAMN1',
 u'SRAMN2',
 u'SRAMN3',
 u'SRAMN4',
 u'SRAMN5',
 u'SRAMN6',
 u'SRAMN7',
 u'SRAMN9',
 u'SRAMNTOT',
 u'ESTD1',
 u'ESTD2',
 u'ESTD3',
 u'ESTD4',
 u'ESTD5',
 u'ESTD6',
 u'ESTD7',
 u'ESTDTOT',
 u'MDM1',
 u'MDM2',
 u'MDM3',
 u'MDM4',
 u'MDM5',
 u'MDM6',
 u'MDM7',
 u'MDMTOT',
 u'KIT1',
 u'KIT2',
 u'KIT3',
 u'KIT4',
 u'KIT5',
 ...]

In [512]:
len(column_n)

1079

In [513]:
all4=pd.DataFrame(temp)
all4.head()

,0,1,2,3,4,5,6,7,8,9,...,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078
0,2015-16,1,101,JAMMU & KASHMIR,KUPWARA,1,13,391,104,875564,...,6376,10368,8665,8543,7807,7229,6324,6111,6480,5745
1,2015-16,1,102,JAMMU & KASHMIR,BARAMULA,1,18,678,144,1.0155e+06,...,8029,18126,11291,10873,10104,10015,10163,9595,10085,7430
2,2015-16,1,103,JAMMU & KASHMIR,SRINAGAR,1,8,94,65,1.26975e+06,...,6433,8422,7984,8032,7957,7717,7315,7274,7435,6576
3,2015-16,1,104,JAMMU & KASHMIR,BADGAM,1,13,523,104,735753,...,5070,7077,6186,6051,5758,5439,5051,5103,5208,5098
4,2015-16,1,105,JAMMU & KASHMIR,PULWAMA,1,8,359,64,570060,...,3753,4438,3849,3891,3750,3567,3476,3457,3539,3479

In [514]:
all4.columns=column_n

In [515]:
all4.head()

,Unnamed: 0,STATCD,DISTCD,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,...,C9_B,C1_G,C2_G,C3_G,C4_G,C5_G,C6_G,C7_G,C8_G,C9_G
0,2015-16,1,101,JAMMU & KASHMIR,KUPWARA,1,13,391,104,875564,...,6376,10368,8665,8543,7807,7229,6324,6111,6480,5745
1,2015-16,1,102,JAMMU & KASHMIR,BARAMULA,1,18,678,144,1.0155e+06,...,8029,18126,11291,10873,10104,10015,10163,9595,10085,7430
2,2015-16,1,103,JAMMU & KASHMIR,SRINAGAR,1,8,94,65,1.26975e+06,...,6433,8422,7984,8032,7957,7717,7315,7274,7435,6576
3,2015-16,1,104,JAMMU & KASHMIR,BADGAM,1,13,523,104,735753,...,5070,7077,6186,6051,5758,5439,5051,5103,5208,5098
4,2015-16,1,105,JAMMU & KASHMIR,PULWAMA,1,8,359,64,570060,...,3753,4438,3849,3891,3750,3567,3476,3457,3539,3479

In [516]:
all4.to_csv('year4.csv')

In [517]:
all4.shape

(680, 1079)

In [518]:
b=all4.T.drop_duplicates().T
b.shape

(680, 1049)

In [519]:
b=b.fillna(0)
b.to_csv('year4_fixed.csv')